.parent_container{
    margin: 100px 0 2rem 0;
    padding:2rem 0;
}

.contact_card{
    padding:2rem 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
}

.button{
    margin: 1rem;
    font-weight: 500;
}

@media (min-width: 600px) {
    .contact_card{
        padding:3rem 2rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 3px;
    }
}


@media (min-width: 960px) {
    .parent_container{
        margin: 100px 0 2rem 0;
        padding:2rem 0;
    }
}


@media (min-width: 1200px) {
    
}