.parent_container{
    margin:2rem 0;
    padding:1rem 0;
    display: flex;
    flex-flow: column nowrap;
}

.cards{
    width: 90%;
    margin:1rem 0;
    padding:1rem;
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card_title{
    font-size: 1.1rem;
    font-weight: 500;
}

.card_content{
    font-weight: 300;
}

@media (min-width: 960px) {
    .parent_container{
        justify-content: space-between;
        flex-flow: row wrap;
    }
    .cards{
        width: 45%;
        padding:2rem 1rem;
    }

    .card_title{
        font-size: 1.25rem;
    }
}

