.parent_container{
    padding:2rem 1rem;
    margin:100px 0 75px 0;
    line-height: 1.6;
}

.short_intro{
    font-size: 1rem;
    color: #808080;
    line-height: 1.6;
    margin:1rem 0;
}

.hightlight_text{
    font-size: 1.8rem;
    margin: 0;
    font-weight: 700;
}

.action_button_container{
    display: block;
    text-align: center;
    width: 100%;
}

.button{
    width: 90%;
}

@media (min-width: 600px) {
    .parent_container{
        margin:100px 0 2rem 0;
        line-height: 1.8;
        padding:2rem 0;
    }

    .short_intro{
        font-size: 1.1rem;
        margin-bottom:2rem;
    }

    .hightlight_text{
        font-size: 1.8rem;
        font-weight: 700;
        
    }
}


@media (min-width: 960px) {
    .parent_container{
        padding:2rem 0;
        margin:100px 0 2rem 0;
    }
    
    .short_intro{
        font-size: 1.25rem;
        line-height: 1.6;
    } 

    .hightlight_text{
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.6;
        margin: 0;
    }

    .action_button_container{
        text-align: start;
    }

    .button{
        width: 30%;
    }
}

@media (min-width: 1200px) {
    .parent_container{
        margin: 150px 0 75px 0
    }
}